beautifulsoup4
chromadb
datasets
fastapi
huggingface-hub
ipykernel
ipython
langchain
langchain-community
langchain-core
langsmith
llama_cpp_python
matplotlib
nlpaug
numpy==1.26.0
open-clip-torch
open-clip-torch-any-py3
openai
opencv-contrib-python
pandas
Pillow
scikit-learn
scipy
seaborn
sentence-transformers
sentencepiece
streamlit
torch
transformers
pypdf
llama-stack
accelerate
yfinance
panel
ta
chainlit
mplfinance